<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Daily Income</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- icons -->
    <link rel="stylesheet" href="/Assets/Icons/fontawesome-free-5.15.1-web/css/all.css">
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />

    <!-- Custom fonts for this template-->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="assets/css/sb-admin-2.min.css" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" href="assets/css/dailyincome.css">
</head>

<body>
    <header class="bg-white">
        <h4>Trading Company</h4>

        <div class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light">

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%= username %></span>
                                <img src="assets/img/portfolio/amatak.jpg" class="img-profile rounded-circle" style="max-width: 1cm; max-height: 1cm" alt="">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i> Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logout">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
            </div>
        </div>
    </header>
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a onclick="window.location.href = '/attendanceseller'" class="nav-link" data-bs-toggle="modal" href="#portfolioModal4">
                    <span>Attendance</span></a>
            </li>
            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a onclick="window.location.href = '/paymentseller'" class="nav-link" data-bs-toggle="modal" href="#portfolioModal4">
                    <span>Payment</span></a>
            </li>
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <span>Daily-Income</span>
                </a>
                <!-- <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Settings:</h6>
                        <a class="collapse-item" href="cards.html">Edit</a>
                        <a class="collapse-item" href="cards.html">Delete</a>
                    </div>
                </div> -->
            </li>
            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a onclick="window.location.href = '/outstockseller'" class="nav-link" data-bs-toggle="modal" href="#portfolioModal4">
                    <span>Out Stock</span></a>
            </li>
            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a onclick="window.location.href = '/totaldailyincomeseller'" class="nav-link" data-bs-toggle="modal" href="#portfolioModal4">
                    <span>Total Income</span></a>
            </li>
            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a onclick="window.location.href = '/productseller'" class="nav-link" data-bs-toggle="modal" href="#portfolioModal4">
                    <span>Product</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <a onclick="window.location.href = '/homepageuser'" class="nav-link" data-bs-toggle="modal" href="#portfolioModal4">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </a>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div class="" id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar static-top shadow">
                    <h4>Daily Income</h4>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createUserModal">
                        Add Daily-Income
                    </button>
                    <div class="modal fade" id="createUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="/dailyincome" method="post" class="form form-vertical needs-validation" novalidate>
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group has-validation">
                                                        <label for="Product">Product</label>
                                                        <input id="inputProduct" type="text" class="form-control" placeholder="Product" required>
                                                        <input id="inputProductId" type="text" class="d-none form-control" placeholder="Product" name="productId">
                                                        <div class="invalid-feedback">Please fill out this field</div>
                                                        <div class="dropdown">
                                                            <ul id="listSelectProducts" class="dropdown-menu">
                                                                <input class="form-control" id="myInput" type="text" placeholder="Search..">
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label for="Number-Sold">Number-Sold</label>
                                                        <input type="number" class="form-control" placeholder="Number-Sold" name="numberSold" required>
                                                        <div class="invalid-feedback">Please fill out this field</div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label for="Extra-Fee">Extra-Fee</label>
                                                        <input type="number" class="form-control" placeholder="Extra-Fee" name="extraFee" required>
                                                        <div class="invalid-feedback">Please fill out this field</div>
                                                    </div>
                                                </div>
                                                <div class="col-12 d-none">
                                                    <div class="form-group">
                                                        <input id="SellPrice" name="SellPrice">
                                                    </div>
                                                </div>
                                                <div class="col-12 d-flex justify-content-end mt-3">
                                                    <button type="reset" data-dismiss="modal" class="btn btn-light-secondary me-1 mb-1">Close</button>
                                                    <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Topbar Search -->
                    <form style="width: 400px;">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </nav>
                <!-- End of Topbar -->
                <div class="bg-light overflow-auto">
                    <table class="table table-striped text-nowrap">
                        <thead>
                            <tr>
                                <th scope="col">ID-User</th>
                                <th scope="col">ID-Product</th>
                                <th scope="col">Date-Income</th>
                                <th scope="col">Number-Sold</th>
                                <th scope="col">Extra-Fee</th>
                                <th scope="col">Income-Amount</th>
                            </tr>
                        </thead>
                        <tbody id="dailyincomeTable"></tbody>
                        <!-- <tbody>
                            <tr>
                                <td>A-001</td>
                                <td>P-001</td>
                                <td>10/03/2022</td>
                                <td>20</td>
                                <td>-$</td>
                                <td>500</td>

                            </tr>
                            <tr>
                                <td>S-002</td>
                                <td>P-002</td>
                                <td>10/03/2022</td>
                                <td>10</td>
                                <td>-$</td>
                                <td>300</td>
                            </tr>
                            <tr>
                                <td>S-003</td>
                                <td>P-003</td>
                                <td>10/03/2022</td>
                                <td>7</td>
                                <td>-$</td>
                                <td>300</td>
                            </tr>
                        </tbody> -->
                    </table>
                </div>
            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <section class="footer">
        <div class="credit"> created by <span> Kim Tepamatak </span> | all rights reserved </div>
    </section>
    <!-- for connect with backend -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/assets/js/backend/dailyincome.js"></script>

    <script>
        // Disable form submissions if there are invalid fields
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                // Get the forms we want to add validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
</body>

</html>