<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Payment</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- icons -->
    <link rel="stylesheet" href="/Assets/Icons/fontawesome-free-5.15.1-web/css/all.css">
    <!-- css -->
    <link rel="stylesheet" href="assets/css/payment.css">
</head>

<body>
    <header class="bg-secondary m-0">
        <h2>Trading Company</h2>
        <button>Log Out</button>
    </header>
    <div class="bg-light w-100" style="height: 70vh;">
        <h3>Payment</h3>
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">ID-Payment</th>
                    <th scope="col">ID-Staff</th>
                    <th scope="col">Date-Payment</th>
                    <th scope="col">Payment-Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">NO.00001</th>
                    <td>A-001</td>
                    <td>10/03/2022</td>
                    <td>500$</td>
                </tr>
                <tr>
                    <th scope="row">NO.00002</th>
                    <td>S-002</td>
                    <td>10/03/2022</td>
                    <td>300$</td>
                </tr>
                <tr>
                    <th scope="row">NO.00003</th>
                    <td>S-003</td>
                    <td>10/03/2022</td>
                    <td>300$</td>
                </tr>
            </tbody>
        </table>
        <button>Edit-Payment</button>
        <button>Create-Payment</button>
        <button>Delete-Payment</button>
    </div>
    <div class="bg-secondary w-100" style="height: 15vh;"></div>
</body>

</html>