<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Attendance</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- icons -->
    <link rel="stylesheet" href="/Assets/Icons/fontawesome-free-5.15.1-web/css/all.css">
    <!-- css -->
    <link rel="stylesheet" href="assets/css/product.css">
</head>

<body>
    <header class="bg-secondary m-0">
        <h2>Trading Company</h2>
        <button>Log Out</button>
    </header>
    <div class="bg-light w-100">
        <h3>Product</h3>
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">ID-Product</th>
                    <th scope="col">Name-Product</th>
                    <th scope="col">Number-Product</th>
                    <th scope="col">Date-Product</th>
                    <th scope="col">Unit-Price</th>
                    <th scope="col">Sell-Price</th>
                    <th scope="col">Color</th>
                    <th scope="col">Size</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">P-001</th>
                    <td>Shuougong</td>
                    <td>6949187398842</td>
                    <td>02/02/2022</td>
                    <td colspan="2">18$</td>
                    <td>Original</td>
                    <td>32bags x 120g</td>
                    <td>expire 2months</td>
                </tr>
                <tr>
                    <th scope="row">P-002</th>
                    <td>Hupi</td>
                    <td>6949187391157</td>
                    <td>02/02/2022</td>
                    <td colspan="2">18$</td>
                    <td>Original</td>
                    <td>32bags x 110g</td>
                    <td>expire 2months</td>
                </tr>
                <tr>
                    <th scope="row">P-003</th>
                    <td>JinShanJiao</td>
                    <td>6949187391478</td>
                    <td>02/02/2022</td>
                    <td colspan="2">12$</td>
                    <td>Chololate</td>
                    <td>28bags x 95g</td>
                    <td>expire 2months</td>
                </tr>
                <tr>
                    <th scope="row">P-004</th>
                    <td>JinShanJiao</td>
                    <td>6949187391454</td>
                    <td>02/02/2022</td>
                    <td colspan="2">12$</td>
                    <td>Barley Leaves</td>
                    <td>28bags x 95g</td>
                    <td>expire 2months</td>
                </tr>
                <tr>
                    <th scope="row">P-005</th>
                    <td>JinShanJiao</td>
                    <td>6949187391461</td>
                    <td>02/02/2022</td>
                    <td colspan="2">12$</td>
                    <td>Red velvet</td>
                    <td>28bags x 95g</td>
                    <td>expire 2months</td>
                </tr>
            </tbody>
        </table>
        <button>Edit</button>
        <button>Create-User</button>
        <button>Status-User</button>
        <button>Delete</button>
    </div>
    <div class="bg-secondary w-100" style="height: 15vh;"></div>
</body>

</html>