<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Types of Staff</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- icons -->
    <link rel="stylesheet" href="/Assets/Icons/fontawesome-free-5.15.1-web/css/all.css">
    <!-- css -->
    <link rel="stylesheet" href="assets/css/typeofstaff.css">
</head>

<body>
    <header class="bg-secondary m-0">
        <h2>Trading Company</h2>
        <button>Log Out</button>
    </header>
    <div class="bg-light w-100">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">ID-Type</th>
                    <th scope="col">ID-Staff</th>
                    <th scope="col">Type</th>
                    <th scope="col">Salary</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">A</th>
                    <td>A-001</td>
                    <td>Admin</td>
                    <td>500$</td>
                </tr>
                <tr>
                    <th scope="row">S</th>
                    <td>S-002</td>
                    <td>Seller</td>
                    <td>250$</td>
                </tr>
                <tr>
                    <th scope="row">S</th>
                    <td>S-003</td>
                    <td>Seller</td>
                    <td>250$</td>
                </tr>
                <tr>
                    <th scope="row">D</th>
                    <td>D-004</td>
                    <td>Delivery</td>
                    <td>200$</td>
                </tr>
                <tr>
                    <th scope="row">D</th>
                    <td>D-005</td>
                    <td>Delivery</td>
                    <td>200$</td>
                </tr>
                <tr>
                    <th scope="row">D</th>
                    <td>D-006</td>
                    <td>Delivery</td>
                    <td>200$</td>
                </tr>
                <tr>
                    <th scope="row">D</th>
                    <td>D-007</td>
                    <td>Delivery</td>
                    <td>200$</td>
                </tr>
            </tbody>
        </table>
        <button>Edit</button>
        <button>Create-User</button>
        <button>Status-User</button>
        <button>Delete</button>
    </div>
    <div class="bg-secondary w-100" style="height: 15vh;"></div>
</body>

</html>